/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    @apply font-Montserrat;
  } */
  body {
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium dark:text-slate-300;
}

.active {
  @apply bg-blue-100 text-blue-600 dark:text-slate-300 dark:bg-blue-700;
}
.custom-shadow {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.09);
}
.card-layout {
  @apply bg-white rounded-md p-4 custom-shadow dark:bg-gray-900;
}

.custom-scroll::-webkit-scrollbar {
  width: 0.2rem;
  border-radius: 0.5rem;
  background-color: #cdcdcd;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #393939;
}

/* table  */
.table-wrap {
  @apply overflow-hidden border overflow-x-auto md:rounded-lg bg-white dark:bg-gray-900 dark:border-gray-700;
}
.table-main {
  @apply min-w-full divide-y divide-gray-200 dark:divide-gray-700   w-full;
}
.table-h {
  @apply bg-gray-50 dark:bg-gray-950 py-3.5 px-4 text-sm font-medium text-left  text-gray-700 dark:text-gray-400;
}
.table-b {
  @apply divide-y divide-gray-200 px-4 py-4 text-sm font-normal dark:divide-gray-700 whitespace-nowrap text-gray-500;
}

/* print  */
@media print {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @page {
    margin: 1rem;
    padding: 1rem;
    /* size: a4; */
  }
  .onPrintHide{
    display: none;
  }
}








.card-layout .headerbg {
  background: #35ce77 !important;
  padding: 12px 16px !important;
  border-radius: 8px !important;
  border: 1px solid #e3e6ea !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08) !important;
}

.card-layout .headerbg h1 {
  color: rgb(255, 255, 255) !important;
}




.modal .ant-modal-header {
  background: #dde4ef !important;
  border-bottom: 1px solid #c7d2fe !important;
  padding: 8px 10px !important;
  margin-bottom: 20px;
  border-radius: 8px 8px 0 0 !important;
}

.modal .ant-modal-title {
  color: #1e3a8a !important;
  font-weight: 600 !important;
  font-size: 18px !important;
}

.modal .ant-modal-close {
  top: 27px !important; 
  right: 33px !important;
}

.modal .ant-modal-footer {
  text-align: right !important;
}



Input{
  font-weight: 600;
  color: #000000 !important;
}

Input ::placeholder{
  color: #000000 !important;
}


:where(.css-dev-only-do-not-override-1pg9a38).ant-input-outlined {
    background: #ffffff;
    border-width: 1.5px !important;
    border-style: solid;
    border-color: #92929296 !important;
}

:where(.css-dev-only-do-not-override-1pg9a38).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border: 1.5px solid #18181896;
    border-color: #92929296 !important;
}

input[type="number"] {
  border: 1.5px solid #18181896;
  border-color: #92929296 !important;
}


:where(.css-dev-only-do-not-override-1pg9a38).ant-input-number .ant-input-number-input {
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: inherit;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    width: 100%;
    text-align: start;
    background-color: transparent;
    border: 0;
    border-radius: 6px;
    outline: 0;
    transition: all 0.2s 
linear;
    appearance: textfield;
}

.table-h{
 background-color: rgb(220 222 223) !important;
}


:where(.css-dev-only-do-not-override-1pg9a38).ant-form legend {
  display: block !important;
  padding: 0;
  width: auto !important;
  color: #000000 !important;
  font-size: 16px;
  margin-bottom: 0px !important;
  padding: 0px 5px !important;
  border-bottom: none !important;
}